<div>
  <p class="flex items-center text-teal-500">
    <%= @star_icon %> <!-- Иконка звезды -->
    <span class="ml-2">A 10% discount is available on this course</span> <!-- Текст с отступом -->
  </p>
</div>

