<div>
  <div class="text-4xl font-semibold text-purple-700 hover:underline">
    <%= header %>
  </div>
  <% titles.each do |title| %>
    <div class="p-4 text-purple-700">
      <%= title %>
    </div>
  <% end %>
</div>
