<div class="container mx-auto mt-10 p-6">
  <h1 class="text-3xl font-bold text-copper-600 mb-6">Страница ссылки</h1>
  <p>
    <a href="/" data-turbo="true" class="px-4 py-2 bg-teal-500 text-white font-semibold rounded hover:bg-teal-600">
      Назад
    </a>
  </p>
</div>
