<nav class="bg-copper-100 p-4 flex space-x-6 sticky top-0 items-center">
  <div class="text-copper-700 hover:underline">
    <%= link_to "Slideshow", slideshows_path %>
  </div>
  <div class="text-copper-700 hover:underline">
    <%= link_to "Content Loader",  content_loaders_path  %>
  </div>
</nav>